.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 1.2rem;

    user-select: none;
}

.country-or-capital {
    cursor: pointer;

    padding: 3px 5px;
    border-radius: 2px;

    transition: background-color 0.2s ease-in-out;
}

.country-or-capital:hover {
    background-color: #3f3f3f;
}
