.game_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 1.2rem;

    user-select: none;
}

.country_or_capital {
    cursor: pointer;

    padding: 3px 5px;
    border-radius: 2px;

    transition: background-color 0.2s ease-in-out;
}

.country_or_capital:hover {
    background-color: #3f3f3f;
}

.country_or_capital__selected {
    background-color: #939200;
}

.country_or_capital__selected:hover {
    background-color: #777700;
}

.country_or_capital__incorrectly_selected {
    background-color: #a40000;
}

.country_or_capital__incorrectly_selected:hover {
    background-color: #860000;
}

.end_game {
    flex-direction: column;
}